h1{
    text-align: center;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: yellowgreen; */
    margin: 30px;
}
body{
    background-color: blanchedalmond;

}

.cardcontainer{
    display: flex;
}

.cardbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*   */
    height: 300px;
    width: 400px;
    /* background-color: rebeccapurple; */
}

.card{
    flex: 3;
    margin: 20px;
}

.form-check{
    flex: 1;
    margin: 20px;
}


